<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.keyboardlayout.lipton</string>
	<key>CFBundleName</key>
	<string>Lipton</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>KLInfo_Caps layout</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>com.apple.keyboardlayout.lipton.capslayout</string>
		<key>TISIntendedLanguage</key>
		<string>ru</string>
	</dict>
	<key>KLInfo_Lipton</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>com.apple.keyboardlayout.lipton.lipton</string>
		<key>TISIntendedLanguage</key>
		<string></string>
	</dict>
	<key>KLInfo_Lipton_u</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>com.apple.keyboardlayout.lipton.lipton_u</string>
		<key>TISIntendedLanguage</key>
		<string></string>
	</dict>
</dict>
</plist>
